/* desy font family */
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=4e234c8a-c12f-4f85-9ac9-ff204d7f5b32");
@font-face{
font-family:"DesyNeueHelveticaWFS-87HvCn";
src:url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/441a591f-ffcf-4223-a7a6-719e82a369fc.eot?#iefix");
src:url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/441a591f-ffcf-4223-a7a6-719e82a369fc.eot?#iefix") format("eot"),url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/132f81b9-efbb-4df2-a5d9-882062906bdb.woff") format("woff"),url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/45c48c0e-5415-4bf9-823b-1698b7129755.ttf") format("truetype"),url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/9badd8fe-28d5-4f79-ab6d-95d605afbe7e.svg#9badd8fe-28d5-4f79-ab6d-95d605afbe7e") format("svg");
}
@font-face{
font-family:"DesyNeueHelveticaWFS-55Rm";
src:url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/9f313770-c59c-4161-bb83-15a7b832ed0a.eot?#iefix");
src:url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/9f313770-c59c-4161-bb83-15a7b832ed0a.eot?#iefix") format("eot"),url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/8e9b6c37-7c45-4c3a-bb2d-04e41b335d1a.woff") format("woff"),url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/c68ba3bd-479b-4bba-9400-32e2b7921037.ttf") format("truetype"),url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/a9fb8a69-36d5-46a0-892a-610ce53fcf42.svg#a9fb8a69-36d5-46a0-892a-610ce53fcf42") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-67MdCn 692710";
src:url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix");
src:url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/3a605871-b94d-4161-a394-bb2cfc975df7.eot?#iefix") format("eot"),url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/aef05e22-e1d4-4e59-bc2e-a71c13c26cca.woff") format("woff"),url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/b785b1cf-24fa-44c9-8c93-d8e2d6912c47.ttf") format("truetype"),url("https://wof-live.desy.de/sites/common4all/fonts/desy-font/5ab0c585-fb4b-43d9-abb0-b92f452b1284.svg#5ab0c585-fb4b-43d9-abb0-b92f452b1284") format("svg");
}
