---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$text-color:       #111;

//
// Neutral
//
$base-line-height: 1.5;
$header-text-color:  $text-color ;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font: $base-font-family;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;



// Our variables
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@import
       "base-clean",
       "block_header",
       "extra-desy",
       "columns",
        "project",
        "layout",
        "master",
        "pics",
        "syntax-highlighting"
;
