
<div class="row">

{% for category in site.categories %}
     {% capture cat_type %} {{ category[0] }} {% endcapture %}

  {% if category[0] == "Newsletter" or category[0] == "Special Issues" or category[0] == "Material" or category[0] == "Event" %}

  <div class="column"> 

     {% include block_header.html cat=cat_type url="/events-index.html" %}
     <ul  style="list-style-type: none;">
       {% for post in category[1] limit:3 %}
          <li class="material"><a class="material" href="{{ post.url }}">{{ post.title }}</a></li>
       {% endfor %}
     </ul>
  </div>
  {% endif %}

{% endfor %}
</div>
