<div class="row">

{% for category in site.categories %}


  {% capture cat_type %} {{ category[0] }} {% endcapture %}
  {% if category[0] == "Newsletter" %}

     <div class="column">
     {% include block_header.html cat=cat_type url="/sub/newsletter-index.html" %}
     <ul style="list-style-type: none;">
       {% for post in category[1] limit:3 %}
          <li class="material"><a class="material" href="{{ post.url }}">{{ post.title }}</a></li>
       {% endfor %}
     </ul>
     </div>

  {% elsif category[0] == "Special Issues" %}

     <div class="column">
     {% include block_header.html cat=cat_type url="/sub/special-index.html" %}
     <ul style="list-style-type: none;">
       {% for post in category[1] limit:3 %}
          <li class="material"><a class="material" href="{{ post.url }}">{{ post.title }}</a></li>
       {% endfor %}
     </ul>
     </div>

  {% elsif category[0] == "Material" %}
     <div class="column">
     {% include block_header.html cat=cat_type url="/sub/material-index.html" %}
     <ul style="list-style-type: none;">
       {% for post in category[1] limit:3 %}
          <li class="material"><a class="material" href="{{ post.url }}">{{ post.title }}</a></li>
       {% endfor %}
     </ul>
     </div>

  {% elsif category[0] == "Event" %}
     <div class="column">
     {% include block_header.html cat="International Events" url="/sub/events-index.html" %}
     <table class="small_table" >
       {% for post in category[1] limit:3 %}
          <tr>
          <td class="small_table" > 
            {{ post.real_date }}
          </td>
          <td class="small_table" > 
             <a class="small_table" href="{{ post.url }}">{{ post.title | truncate: 20 }}</a>
          </td>
          </tr>
       {% endfor %}
     </table>
     </div>

  {% endif %}

{% endfor %}

</div>
