<footer class="site-footer">
  
  <div class="wrapper">


<div id="page-footer" class="footer clearfix">
   <a target="_blank" title="zu 'Die Website der Helmholtz Gemeinschaft'" href="http://www.helmholtz.de/">
            
      <img id="logo-helmholtz"
        alt="Logo der Helmholtz Gemeinschaft"
        src="/assets/images/2017_H_Logo_RGB_EN.png" />
   </a>
   <div class="address">
     <h2 class="hidden">Footer Navigation</h2>
     <div class=""liaddress">
        <ul id="footer-nav" class="nav">
           <li class="liaddress">
              <a class="liaddress"
                 href="https://www.desy.de/data_privacy_policy/index_eng.html"
                 title="Data Privacy Policy">Data Privacy Policy</a>
           </li>
           <li  class="liaddress">
              <a class="liaddress"
                 href="https://www.desy.de/imprint/index_eng.html"
                 title="Imprint">Imprint</a>
           </li>
           <li class="liaddress">
              <a class="liaddress"
                 href="mailto:%64%65%73%79%69%6E%66%6F%40%64%65%73%79%2E%64%65"
                 title="Contact">Contact</a>
           </li>
        </ul>
     </div>
     <div class="liaddress">
       &copy; 2020, Deutsches Elektronen-Synchrotron DESY
     </div>
   </div>

</div>
</div>
</footer>
