   <div class="address">
     <h2 class="hidden">Footer Navigation</h2>
     <ul id="footer-nav" class="nav">
        <li class="first">
           <a href="https://www.desy.de/data_privacy_policy/index_eng.html"
              title="Data Privacy Policy">Data Privacy Policy</a>
        </li>   
        <li>
           <a href="https://www.desy.de/imprint/index_eng.html"
              title="Imprint">Imprint</a>
        </li>
        <li class="last">
           <a href="mailto:%64%65%73%79%69%6E%66%6F%40%64%65%73%79%2E%64%65"
              title="Contact">Contact</a>
        </li>
     </ul>
     <p class="tagline">
       &copy; 2020, Deutsches Elektronen-Synchrotron DESY
     </p>
   </div>

