
<div>

{% for category in site.categories %}

  {% if category[0] == "Event" %}
  <table class="material">
     {% for post in category[1] %}
     <tr>

       <td class="material">
         {% if post.real_date %}
            {{ post.real_date }}
         {% else %}
            {{ post.date | date: "%b %-d, %Y" }}
         {% endif %}
       </td>

       <td class="material">
          <a href="{{ post.url }}">{{ post.title }}</a>
       </td>

       <td class="material">

          {% if post.external_link  %}
             <a href="{{ post.external_link }}">Event Link</a>
          {% else %}
             &nbsp;
          {% endif %}
       </td>
     </tr>
     <tr>
       <td id="materialx" colspan=3>
          {{ post.excerpt }}
       </td>
     </tr>
     {% endfor %}
  </table>
  {% endif %}

{% endfor %}
</div>
