<footer class="site-footer">
  
  <div class="wrapper">

<div id="page-footer" class="footer clearfix">
   <a target="_blank" title="zu 'Die Website der Helmholtz Gemeinschaft'" href="http://www.helmholtz.de/">
            
      <img id="logo-helmholtz"
        alt="Logo der Helmholtz Gemeinschaft"
        src="/assets/images/2017_H_Logo_RGB_EN.png" />
   </a>
   {% include desy-footer-address.html %}
</div>

  </div>
</footer>
