<header class="site-header">

  <div class="wrapper">
    <div class="desy-title-container-left">
    <table>
    <tr>
       <td>
       <div class="desy-title">
          <img class="desy-title" " src="/assets/images/desy_logo_3c_web.svg">
       </div>
       </td>
       <td>
       <div class="desy-title">
       Deutsches Elektronen-Synchrotron DESY<br>
       A Research Center of the Helmholtz Association
       </div>
       </td>
    </tr>
    </table>
    </div>

    <div class="desy-title-container-right">
      <div class="desy-title-element">
          <img style="padding-top: 5px ; width: 70px; float:right;" src="/assets/images/RIC-font-orange.png">
<!--
          <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
-->
      </div>
      <br>
      <div class="desy-title-element">

        <ul class="desy-title-container-right">

        {% for item in site.data.navigation %}
          <li class="desy-title-container-right">
            <a class="page-link" href="{{ item.link }}">{{ item.name }}</a>
          </li>
        {% endfor %}

        </ul>
      </div>

    </div>

  </div>

</header>
