
<div>

{% for category in site.categories %}

  {% if category[0] == "Newsletter" %}
  <table  class="material">
     {% for post in category[1] %}
     <tr>
     <td class="material">{{ post.date | date: "%b %-d, %Y" }}</td>
     <td class="material"><a href="{{ post.url }}">{{ post.title }}</a></td>
     <td class="material">{{ post.author }}</td>
     </tr>
     {% endfor %}
  </table>
  {% endif %}

{% endfor %}
</div>
