<table class="pic_box">
   <tr>
      <td class="pic_box">
         <img class="pic_box" src="{{ include.picture }}">
      </td>
      <td class="pic_box">
          <h5 class="master">{{ include.position }}</h5>
          <div class="warning">{{ include.content  }}</div>
      </td>
   </tr>
</table>
