{% for project in site.projects %}

  <!--  <h2> <a href="{{ project.url }}"> {{ project.name }} </a> </h2> -->

  <table class="project2">
  <tr class="project2">
     <td class="project2" style="background-color: white"  rowspan="2">
     <img width="150px" src="{{ project.picture }}">
     </td>
     <td class="project2" style="width: 25%">
        <h3><a href="{{ project.url }}"> {{ project.name }} </a></h3>
     </td>
     <td class="project2" style="width: 25%">
        {{ project.stakeholder }}
     </td>
     <td class="project2" style="width: 25%">
        {{ project.contact }}
     </td>
  </tr>
  <tr>
     <td class="project2" style="font-size:12px; color: #444" colspan="3" > {{ project.excerpt }}</td>
  </tr>
  </table>
{% endfor %}
