{% for project in site.projects %}
  <h2> <a href="{{ project.url }}"> {{ project.name }} </a> </h2>
  <table class="project">
  <tr class="project">
     <td class="project">Stakeholder</td>
     <td class="project"> {{ project.stakeholder }}</td>
  </tr>
  <tr class="project">
     <td class="project">Funding Program</td>
     <td class="project"> {{ project.funding_program }}</td>
  </tr>
  <tr class="project">
     <td class="project">Description</td>
     <td class="project"> {{ project.description }}</td>
  </tr>
  </table>

{% endfor %}
