<div class="row">
{% for project in site.projects %}
  <div class="column"> 

     <table class="pic_box">
        <tr>
           <td class="pic_box">
              <img class="pic_box" src="{{ project.picture }}">
           </td>
           <td class="pic_box">
              <h3><a href="{{ project.url }}"> {{ project.name }} </a></h3>
              <br>
              <span style="color: #009fdf;">{{ project.stakeholder }}</span>
              <br>
              <span style="color: orange; font-style: italic;">Contact: {{ project.contact }}</span>
          </td>
       </tr>
    </table>

  </div>
{% endfor %}
</div>
