<div class="grid-container">

{% for project in site.projects %}
  <div> 

     <table class="pic_box">
        <tr>
           <td class="pic_box">
              <img class="pic_box" src="{{ project.picture }}">
           </td>
           <td class="pic_box">
              <h3><a href="{{ project.url }}"> {{ project.name }} </a></h3>
              <br>
              <span style="color: #009fdf;">{{ project.stakeholder }}</span>
              <br>
              <span style="color: orange; font-size: 12px; font-style: italic;">Contact: {{ project.contact }}</span>
          </td>
       </tr>
       <tr> 
          <td class="pic_box_text" colspan="2">
             {{ project.excerpt }}
          </td>
       </tr>
    </table>
<!--
    <table class="pic_box">
       <tr>
          <td class="pic_box">
             <img class="pic_box" src="{{ project.picture }}">
          </td>
          <td class="pic_box">
             <h3><a href="{{ project.url }}"> {{ project.name }} </a></h3>
             <ul>
                <li>{{ project.stakeholder }}</li>
                <li>{{ project.funding_program }}</li>
             </ul>
          </td>
       </tr>
    </table>
-->
  </div>
{% endfor %}
</div>
