{% for org_hash in site.data.teaching %}
{% assign org = org_hash[1] %}
  <h2 class="teaching">{{ org.semester}} {{ org.uni }}  : {{ org.title }}</h2>
  <blockquote class="teaching">
  <h4 class="teaching">Organizers: {{ org.organizer }}</h4>
  <div class="teaching">
  <table class="teaching">
  {% for pres in org.presentations %}
     <tr>
        <td class="teaching">{{  pres.author }}</td>
        <td class="teaching"><a href="{{ pres.link }}" class="teaching">{{ pres.title }}</a></td>
     </tr>
  {% endfor %}
  </table>
  </div>
  </blockquote>
   <hr>
  <br>

{% endfor %}

