{% for member in site.team %}

<div style="float: left; margin: 10px;">
<table class="pic_box">
   <tr>
      <td class="pic_box">
         <img class="pic_box" src="{{ member.picture }}">
      </td>
      <td class="pic_box">
          <h5 class="master">{{ member.name }}</h5>
          <h6 class="master">{{ member.position }}</h6>
      </td>
   </tr>
   <tr>
     <td class="pic_box" style="colspan=2;" >
          <div class="pic_box_text">{{ member.content  }}</div>
     </td>
   </tr>
</table>
<br>
</div>

{% endfor %}
