<div class="title-render">
<h2>The eXtreme DataCloud project infographics.</h2>
<div style="text-align: center">
<iframe class="infographic" src="https://www.youtube.com/embed/E8CAjnqqj8k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div style="color: #333; font-size: 12px">
The <a style="color: orange" href="/projects/xdc"> eXtreme DataCloud</a> project started Nov 2017 and ended April 2020, after an three months extension. The Data management work package was lead by Patrick and later taken over by Paul. 8 partners from 7 European countries contributed to the project. The total budget was slightly above 3 MEuros.
</div>
</div>

