table.block_header {
   border-spacing:0px;
}
td.block_header_left {
   background-color:#009fdf;
   padding-left:20px;
   padding-top:5px;
}
td.block_header_right {
   border-bottom:solid 2px #009fdf;
   padding-bottom:0px;
   padding-top:5px;
   text-align: right;
}
h3.block_header {
   color:white;
}
span.block_header {
   color:#009fdf;
}
