.infographic {
   width: 560px ;
   height: 315px ;
}
@media screen and (max-width:800px) {
   .infographic {
      width: 420px ;
      height: 230px ;
      display: hidden;
   }
}
.grid-container {
  display: grid;
//  grid-template-columns: 380px auto;
  grid-template-columns: 1fr 1fr ;
}
@media screen and (max-width:800px) {
   .grid-container {
     display: grid;
     grid-template-columns: 1fr ;
   }
}

.grid-container > div {
   padding: 10px 0;
}

img.desy-title {
   width: 80px ;
}
.trigger {
   float: right ;
}
div.desy-title {
   font-size: 12px;
   float: left ;
   padding-right: 10px ;
//   background-color: gray;
}
a.site-title {
  text-align: right;
  float: right;
}
div.desy-title-container-left {
  float: left;
//  border: solid 4px green; 

}
div.desy-title-container-right{
   float: right ;
//   border: solid 4px green; 
   color: red ;
}
div.desy-title-element {
  width: 100%;
  display: inline;
  float: right;
}
ul.desy-title-container-right {
   list-style-type: none;
}
li.desy-title-container-right {
  float:left ;
  padding-right: 8px;

}
.hidden {
  display:none;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right ;
}
.address {
  float: right ;
}
li.liaddress {
   float: left ;
}
a.liaddress {
  display: block;
  padding-right: 8px;
  font-size: 12px ;
}
div.liaddress {
  font-size: 12px ;
  float: right ;
  display: block;
}

