h1.master {
  text-align: center ;
  font-family: Verdana, Geneva, sans-serif ;
  font-weight: normal;
  font-size: 30pt ;
  color: #777 ;
  text-shadow: 2px 2px #ccc ;
}
h2.master , h3.master , h4.master , h5.master {
  text-align: left ;
  font-family: Verdana, Geneva, sans-serif ;
  font-weight: normal;
  font-size: 32pt ;
  color: #777 ;
  text-shadow: none ;
}
h3.master {
   font-size:28px ;
   text-shadow: none ;
}
h4.master {
   font-size:24px ;
   text-shadow: none ;
}
h5.master {
   font-size:20px ;
   text-shadow: none ;
   color: #555 ;
}

