.material {
  font-size: 14px ;
}
table.material {
   width: 100% ;
}
td.material {
   padding-right: 10px ;
   padding-left: 10px ;
   border-right: solid 1px #aaa;
   background-color: #ddd;
}
table.material tr td:last-child {
    border: none;
}
table.material  tr td:first-child {
    width: 25% ;
    text-align: right;
}
#materialx {
   text-align: left ;
   border: solid 1px $brand_color;
   padding-right: 10px ;
   padding-left: 10px ;
   font-size: 12px ;
}
.small_table {
  font-size: 14px ;
  color: $brand-color;
}
table.small_table {
   width: 100% ;
}
td.small_table {
    width: 15% ;
    padding-right: 10px ;
    padding-left: 10px ;
    border-right: solid 1px #aaa;
    text-align: right;
}
table.small_table  tr td:last-child {
    border: none;
    text-align: left;
}
