/*
 *  picture box
 */
div.title-render {
   vertical-align: bottom;
   border-style: solid ;
   border-width: 0px ;
   border-color: black ;
   border-radius: 5px;
   box-shadow: 2px 2px #ccc ;

   padding: 20px ;

   background-color: #eee ;
}
imgd.pic_box {
   width: 100px ;
   box-shadow: 2px 2px;
}
img.pic_box {
   width: 100px ;
}
table.pic_box {
   border-style: solid ;
   border-width: 1px;
   border-color: #444;
   border-radius: 5px;
   box-shadow: 2px 2px #ccc ;
   width: 330px ;
}
td.pic_box {
   padding: 10px ;
   background:  white ;
}
td.pic_box_text {
   background-color: white;
   font-size: 10px ;
}
div.pic_box_text {
   font-size: 8px ;
}
td.pic_box:first-child {
   width: 120px ;
}
