table.project {
    width: 100% ;
    border-spacing: 2px;
}
td.project {
    text-align: center ;
    background-color: #fff;
    color: #333;
    padding: 4px ;
}
td.project:first-child {
    background-color: #ccc;
    color: white;
}
table.project2 {
    width: 100% ;
    border-spacing: 2px;
    box-shadow: 4px 4px #aaa;
}
td.project2 {
    text-align: center ;
    background-color: #fff;
    color: orange;
    padding: 4px ;
}
td.project2:first-child {
    background-color: #eee;
    color: $header-text-color;
}

