h4.teaching {
  color: orange;
  font-style: italic;
}
td.teaching {
   padding-right: 20px ;
   padding-left: 20px ;
}
a.teaching {
   color: $header-text-color ;
}
td:first-child.teaching {
   background-color: #eee ;
   color: #444;
}
