<!DOCTYPE html>
<html>

  {% include head-desy.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include desy-footer.html  %}

  </body>

</html>
