---
layout: default-clean
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  {% include post-header-include.html %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
